:root {
    --accent: #8B0000;
    --muted: #666;
    --max-width: 1100px;
    font-family: 'Roboto', system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
}

* {
    box-sizing: border-box
}

html,
body {
    height: 100%
}

h1,
h2,
h3 {
    font-family: 'Merriweather', serif;
    color: #8B0000;
}

body,
p,
a,
li {
    font-family: 'Nunito', sans-serif;
    color: #2E2E2E;
}

body {
    margin: 0;
    line-height: 1.5;
    color: #222;
    padding: 1rem
}

.container {
    max-width: var(--max-width);
    margin: 0 auto
}

header {
    display: grid;
    grid-template-columns: 24px auto 44px;
    padding: 5px 0 5px 10px;
    align-items: end;
    border-bottom: solid 1px #ddd;
    column-gap: 8px;
}

header img {
    display: block;
    width: 100%;
    height: auto;
    padding-bottom: 5px;
}

header span {
    font-size: 1.2rem;
}

.hamburguer {
    background: none;
    border: none;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hamburguer::before {
    content: "\2630";
    font-size: 2rem;
}

.hamburguer.show::before {
    content: "\00D7";
}

.navigation {
    display: none;
}

.navigation.show {
    display: block;
}

.navigation ul {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation a {
    display: block;
    padding: .8rem 10px;
    text-decoration: none;
    border-bottom: solid 1px #ddd;
}

.navigation li.current {
    background-color: #eee;
}

.navigation a:hover {
    background-color: #ddd;
}

footer {
    background-color: #d9d9d9;
    padding: 1rem 10px;
    text-align: center;
}

.social {
    display: flex;
    justify-content: center;
    column-gap: 8px;
}

.social a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border: #ccc solid 1px;
    border-radius: 22px;
}

.social img {
    width: 22px;
    height: 22px;
}

.social a:hover {
    background-color: #ddd;
}