@media (min-width:1000px) {
    .cards {
        grid-template-columns: repeat(3, 1fr)
    }

    .header-inner {
        align-items: center
    }

    .footer-grid {
        grid-template-columns: 1fr auto 1fr;
        align-items: center
    }
}

.primary-nav a {
    transition: transform .12s ease, box-shadow .12s ease
}

@media only screen and (min-width: 38rem) {

    header, main {
        max-width: 900px;
        margin: 0 auto;
    }

    header {
        grid-template-columns: 24px auto;
    }

    .hamburguer {
        display: none;
    }

    .navigation {
        display: block;
        border-bottom: solid 1px #eee;
    }

    .navigation ul {
        display: flex;
    }

    .navigation a {
        border: none;
    }
}